<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="UIURL" value="https://demoqa.com/"/>
    <add key="UserID_UI" value="User01"/>
    <add key="Password_UI" value="Password@123"/>
    <add key="APIURL" value="https://demoqa.com/login"/>
    <add key="UserID_API" value="User02"/>
    <add key="Password_API" value="Password@123"/>
  </appSettings>

</configuration>
